@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadein 2s ease-in-out 2s forwards; /* 2s duration, ease-in-out timing function, delay of 2s */
}
